.content-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f9fa;
  padding: 20px;
  border-left: 1px solid #d1d7dc;
  border-right: 1px solid #d1d7dc;
  border-bottom: 0.5px solid #d1d7dc;
  cursor: pointer;
}

.content-item:first-child {
  border-top: 1px solid #d1d7dc;
}

.arrow-icon {
  transition-duration: 0.5s;
}

.arrow-icon-reverse {
  transform: rotate(-180deg);
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title-container {
  display: inline-flex;
  align-items: center;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-left: 15px;
}

.content-item-body {
  border-left: 1px solid #d1d7dc;
  border-right: 1px solid #d1d7dc;
  padding: 20px;
}

.content-item-body:last-child {
  border-bottom: 1px solid #d1d7dc;
}

.hide-body {
  display: none;
}

.item-body-title {
  display: block;
  margin-left: 15px;
}

.can-preview-title {
  color: #5624d0;
  text-decoration: underline;
}

.can-preview-title:hover {
  cursor: pointer;
}

.can-preview {
  color: #5624d0;
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}

.can-preview:hover {
  cursor: pointer;
}
