.course-intro {
  width: 50%;
}

.header {
  display: none;
}

.title,
.description {
  color: white;
  margin: 5px;
  padding: 0;
}

.description {
  font-weight: lighter;
}

.stars {
  margin: 0.5rem 0 0.5rem 0;
  color: #e59819;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.course-rate {
  color: #b4695b;
  font-style: normal;
  display: inline-block;
  margin: 0 5px;
}

.course-ratings {
  color: #6a6f73;
  margin: 0 5px;
  font-size: 17px;
  display: inline;
  font-weight: lighter;
  color: #cec0fc;
  text-decoration: underline;
}

.course-ratings:hover {
  color: #cec0fc;
}

.course-students {
  color: white;
  margin: 0 5px;
  font-size: 17px;
  display: inline;
  font-weight: lighter;
}

.created-by {
  color: white;
}

.captions {
  color: white;
  margin: 0;
}

.captions-inner {
  margin-right: 10px;
  display: inline-block;
}

.floating-course-content {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .course-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 600px;
  }

  .header {
    display: block;
  }

  .header:hover {
    cursor: pointer;
  }

  .image-container {
    position: relative;
  }

  .image-container:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(28, 29, 31, 0) 0%,
      rgba(28, 29, 31, 0.9) 100%
    );
    display: flex;
    justify-content: center;
  }

  .image {
    display: block;
    margin: auto;
  }

  .play-icon {
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 50%);
    z-index: 1;
  }

  .preview-title {
    color: white;
    position: absolute;
    min-width: fit-content;
    left: 50%;
    transform: translate(-50%, -300%);
    display: inline-block;
    z-index: 1;
  }

  .captions {
    display: flex;
    flex-direction: column;
  }

  .captions-inner {
    margin: 5px 0;
  }

  .floating-course-content {
    display: block;
  }

  .price {
    font-size: 40px;
    margin: 15px 0;
    color: white;
  }

  .btn {
    display: block;
    padding: 12px 17px;
    width: 100%;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #1c1d1f;
    font-weight: bold;
    background-color: transparent;
  }

  .btn:hover {
    background-color: #d8d8d8;
  }

  .cart {
    background-color: #a435f0;
    color: white;
  }

  .cart:hover {
    background-color: #8c2bcd;
  }

  .money-back {
    text-align: center;
    font-size: 13px;
    margin: 20px;
    color: white;
  }

  .links {
    display: flex;
    justify-content: space-around;
    color: white;
  }

  .link {
    text-decoration: underline;
    font-weight: 700;
    display: inline-block;
    margin: 3px;
  }

  .link:hover {
    cursor: pointer;
  }
}
