.description-paragraph {
  position: relative;
}

.description-paragraph::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 55px; /* 100% - (line-height × 3) */
  /* transform: translateY(-120px); /*0 - line-height */
  background: linear-gradient(rgba(0, 0, 0, 0), #ffffff 50px);
  /* background-color: red; */
}

.description-paragraph-show-more {
  height: 200px;
  overflow: hidden;
}

.show-more-btn {
  color: #5624d0;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  outline: 0;
  position: relative;
}
