.floating-course {
  border: 2px solid white;
  position: relative;
  width: 400px;
}

.header:hover {
  cursor: pointer;
}
.image {
  height: 220px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      180deg,
      rgba(28, 29, 31, 0) 0%,
      rgba(28, 29, 31, 0.9) 100%
    ),
    url("https://img-c.udemycdn.com/course/240x135/394676_ce3d_5.jpg");
}

.play-icon {
  position: absolute;
  top: 110px;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.preview-title {
  color: white;
  position: absolute;
  min-width: fit-content;
  left: 50%;
  transform: translate(-50%, -300%);
  display: inline-block;
}
