.student-feedback {
  margin: 50px 0;
}

.rate-container {
  display: flex;
}

.rate {
  text-align: center;
  color: #b4690e;
  font-weight: bold;
}

.rate-number {
  font-size: 5rem;
  color: #b4690e;
  margin-bottom: -20px;
}

.rate-stars {
  color: #e68612;
}

.star {
  display: inline-block;
  margin-right: 3px;
}

.rate-bars-container {
  flex-grow: 1;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
