.outer-container {
  padding: 0 40px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  margin: 50px auto;
  position: relative;
}

.black-back {
  background-color: #1c1d1f;
  height: 100px;
  position: absolute;
  width: 100%;
  top: 4.5rem;
  right: 0;
  height: 350px;
  z-index: -10;
}

.content-container {
  max-width: 50%;
  min-width: 600px;
}

.container-course-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px calc(9%) 50px;
  margin: 0 auto;
  position: relative;
  background-color: #1c1d1f;
}

.course-intro {
  max-width: 50%;
  min-width: 600px;
}

.floating-course-container {
  flex-shrink: 0;
  min-width: 30%;
}

@media only screen and (max-width: 1080px) {
  .floating-course-container {
    display: none;
  }

  .content-container {
    width: 100%;
    min-width: 600px;
    max-width: 80%;
  }
}
