.container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 50px auto;
  position: relative;
}

.black-back {
  background-color: #1c1d1f;
  height: 100px;
  position: absolute;
  width: 100%;
  top: 4.5rem;
  right: 0;
  height: 350px;
  z-index: -10;
}

.content-container {
  width: 65%;
}

.container-course-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px calc(7.5% + 50px);
  margin: 0 auto;
  position: relative;
  background-color: #1c1d1f;
}

.floating-course-container {
  flex-shrink: 0;
}
